body{ 
    background-color: #D3DEDC;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: #FFEFEF;
    width: 6%;

}

img{
    height: 120px;
}
h1 {
    color: #7C99AC;
}
h2 {
    color: #7C99AC;
}
h3 {
    color: #7C99AC;
}