body{ 
    background-color: #C1DEAE;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: #F2F5C8;
    width: 6%;

}

img{
    height: 120px;
}
h1 {
    color: #219F94;
}
h2 {
    color: #219F94;
}
h3 {
    color: #219F94;
}